body {
  background: rgb(211, 240, 48);
  color: rgb(54, 19, 207) ;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100hv;

}
label {
  display:block;
}
 input {
  width: 100%;
 }